@import "custom-bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[type=submit] {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  width: 100%;
  min-width: 100%;
}


// Landing page
.search-box {
  background-color: #fff;
  padding: 20px 30px;
  label {
    padding: 10px;
  }
  .search-trips-button {
    background-color: #e83f53;
    border: 2px solid #e83f53;
    color: #FFF;
  }
}