$primary: #e83f53;
$grey: #545454;

@import "custom-bootstrap";
body {
  background-color: #FFF;
  margin: 0;
  font-family: Lato,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loading-container {
  width: 100%;
  text-align: center;
  .spinner-border {
    height: 50px;
    width: 50px;
  }
}
footer {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  color: #bdbdbd;
  box-sizing: border-box;
  padding-top: 25px;
  background-color: #3e4551 !important;
  margin-top: 20px;
  .footer-copyright {
    max-width: 100%;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding-top: 15px;
  }
}
.font-small {
  font-size: .9rem;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: lightblue;
  color: white;
}
.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  .nav-link {
    text-decoration: none !important;
    color: white;
    &:hover {
      font-weight: bold;
    }
  }
}
.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

button[type=submit] {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  width: 100%;
  min-width: 100%;
}
.search-container {
  background-color: $primary;
  background-image: url(../assets/images/header-background.jpg);
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 1000px;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}
// Landing page
.search-box {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  padding: 20px 30px;
  .form-group {
    max-width: 100%;
  }
  .form-label {
    margin-left: 10px;
  }
  .search-trips-button {
    background-color: $primary;
    border: 2px solid $primary;
    color: #FFF;
    margin-top: 5px;
  }
  .search-title {
    height: 100%;
    width: 120px;
    border-right: 1px solid lightgrey;
    h4 {
      max-width: 30px;
    }
  }
}
.bold {
  font-weight: bold;
}
.inline-block {
  display: inline-block;
}
.uppercase {
  text-transform: uppercase;
}
.sort-box {
  display: inline-block;
  padding-left: 0px;
  border-bottom: 1px solid lightgrey;
  height: 45px;
  margin-bottom: 10px;
  max-width: 100%;
  a {
    font-family: sans-serif;
    text-decoration: none;
    color: $grey;
    position: relative;
    margin: 10px 0px 0px 0px;
    display: inline-block;
    padding: 0px 20px 10px 10px;
  }

  a::after {
    content: "";
    background: $primary;
    height: 2px;
    position: absolute;
    bottom: 0;
    transition: .16s all 0.025s;
  }
  
  a::after {
    left: 100%;
    right: 0;
  }
  
  a:hover ~ a::after {
    left: 0;
    right: 100%;
  }
  
  a:hover::after, .active-link::after {
    left: 0;
    right: 0;
  }
}

.browse-container {
  max-width: 1200px;
  margin-top: 50px;
  .search-settings {
    max-width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    text-align: left;
    color: #777;
    margin: 0px 0px 8px;
    padding: 15px;
    height:100%;
    .form-check {
      margin: 0;
      padding-bottom: 5px;
    }
    .form-check-label {
      margin-left: 5px;
    }
    button {
      width: 100%;
      display: table;
      margin: 0 auto;
    }
  }
}
.trip-page-container {
  display: flex;
  max-width: 100%;
  margin: 50px 0 0 0;
  .map-container {
    max-width: 50%;
  }
  .trip-description-container {
    max-width: 50%;
  }
}
.trip-container {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0px;
  margin: 20px auto 20px auto;
  width: 900px;
  z-index: 1000;
  .svg-inline--fa{
    color: grey;
  }
  img {
    width: 100%;
  }
  .trip-section-info {
    padding: 10px 5px 10px 5px;
  }
  .trip-section-buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    padding: 10px 5px 10px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 15px;
    button {
      width: 100%;
      display: table;
      margin: 0 auto;
    }
  }
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
.price-container {
  display: flex;
  padding: 0px;
  margin-bottom: 5px;
  * {
    display: flex;
    align-items: flex-end;
  }
  .price-tag {
    margin-bottom: 0;
  }
  span {
    color: grey;
  }
}

.flight-box {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0px;
  margin: 20px auto 20px auto;
  max-width: 100%;
  img {
    width: 100%;
  }
  .flight-section-img {
    max-width: 35%;
  }
  .flight-section-info {
    max-width: 65%;
    padding: 10px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .flight-company-icon {
      border-radius: 50%;
      width: 15px;
    }
    .luggage-info {
      color: lightgray;
      .col {
        min-width: 85px;
      }
    }
  }
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
.center-row {
    justify-content: center;
    text-align: center;
    .col {
      flex-grow: 0;
    }
}