$primary: #3e67ff;
$secondary: #222B60;
$grey: #545454;
$lighterGrey: #969696;
$lightestGrey: #cacaca;

@import "custom-bootstrap";
@import "~react-datepicker/dist/react-datepicker.css";

body {
  background-color: #FFF;
  margin: 0;
  font-weight: 400;
  font-family: Lato,sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover {
  text-decoration: none;
}
.loading-container {
  width: 100%;
  min-height: 500px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  .spinner-border {
    height: 50px;
    width: 50px;
  }
}
footer {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  color: #bdbdbd;
  box-sizing: border-box;
  padding-top: 25px;
  background-color: #3e4551 !important;
  .footer-copyright {
    max-width: 100%;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding-top: 15px;
  }
}
.font-small {
  font-size: .9rem;
}
.navbar-brand a {
  color: $secondary;
}
.navbar {
  padding: 0px 10px 0px 10px;
  margin: 0;
  min-height: 6vh;
  vertical-align: top;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  color: white;
  vertical-align: top;
  margin-top: 0px;
  padding-top: 0px;
}
.nav-link {
  text-decoration: none !important;
  color: white;
  cursor:pointer;
  &:hover {
    font-weight: bold;
  }
}
.navigation-search-btn:hover, .navigation-search-btn:focus, .navigation-search-btn:active {
  background-color: transparent;
  color: $secondary;
  outline:0!important;
  box-shadow: none;
}
.navigation-search-btn {
  padding: 5px;
  color:$secondary;
  border-radius: 100px;
  border-color: $lighterGrey;
  background-color: transparent;
  line-height: 1;
  height: 4.2vh;
  width:auto;
  max-width: 400px;
  font-size: 13px;
  transition: max-width 1s;
  -webkit-transition: all 0.2s ease;  
  -moz-transition: all 0.2s ease;  
  -o-transition: all 0.2s ease;  
  -ms-transition: all 0.2s ease;  
  transition: all 0.2s ease;
  div:nth-child(2) {
    border-left: 1px solid $lightestGrey;
    border-right: 1px solid $lightestGrey;
    padding: 5px 10px 5px 10px;
  }
  .search-icon {
    background-color: $primary;
    color: white;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: top;
    padding: 7px;
  }
  .search-icon-text-btn {
    border-radius: 50px;
    color: white !important;
    height: 4.5vh;
    vertical-align: top;
    background-color: $primary
    
  }
  .label-text {
    font-size: 9px;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: left;
  }
  .search-item-container{
    display: inline-block;
    padding: 5px 10px 5px 10px;
  }
}
.navigation-search-btn:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.navigation-search-btn-active {
  max-width: 1500px;
  width: 500px;
  font-size: 16px;
  height: 6vh !important;
  margin: 10px;
}
.space-between {
  display: flex;
  justify-content:space-between;
}
.purchase-nav-item {
  color: white !important;
  background-color: $primary;
  text-align: center;
  padding: 1px;
  width: 100px;
  line-height: 6vh;
  max-height: 6vh;
}
.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

button[type=submit], button[type=cancel] {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  width: 100%;
  min-width: 100%;
}
.search-container {
  background-color: $primary;
  background-image: url(../assets/images/wallp.jpg);
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 85vh;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}
// Landing page
.search-box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 30px;
  .form-group {
    max-width: 100%;
  }
  .form-label {
    margin-left: 10px;
  }
  .search-trips-button {
    background-color: $primary;
    border: 2px solid $primary;
    color: #FFF;
    margin-top: 5px;
  }
  .search-title {
    height: 100%;
    width: 120px;
    border-right: 1px solid lightgrey;
    h4 {
      max-width: 30px;
    }
  }
}
.bold {
  font-weight: bold;
}
.inline-block {
  display: inline-block;
}
.uppercase {
  text-transform: uppercase;
}
.sort-box {
  display: inline-block;
  padding-left: 0px;
  border-bottom: 1px solid lightgrey;
  height: 45px;
  margin-bottom: 10px;
  max-width: 100%;
  .btn {
    font-family: sans-serif;
    text-decoration: none;
    color: $grey;
    position: relative;
    margin: 10px 0px 0px 0px;
    display: inline-block;
    padding: 0px 20px 10px 10px;
  }
  .btn::after {
    content: "";
    background: $primary;
    height: 2px;
    position: absolute;
    bottom: 0;
    transition: .16s all 0.025s;
  }
  .btn::after {
    left: 100%;
    right: 0;
  }
  .btn:hover ~ a::after {
    left: 0;
    right: 100%;
  }
  .btn:hover::after, .active-link::after {
    left: 0;
    right: 0;
  }
  .btn:focus, .btn.focus {
    outline: none;
    box-shadow: none;
  }
} 

.browse-container {
  max-width: 1200px;

  margin: 50px auto 50px auto;
  .search-settings {
    max-width: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    background-color: #fefefe;
    border: 1px solid lightgrey;
    text-align: left;
    color: #444;
    margin: 75px 0px 8px 10px;
    padding: 15px;
    height:100%;
    .form-check {
      margin: 0;
      padding-bottom: 5px;
    }
    .form-check-label {
      margin-left: 5px;
    }
    button {
      width: 100%;
      display: table;
      margin: 0 auto;
    }
  }
}
.trip-page-container {
  display: flex;
  max-width: 100%;
  margin: 50px 0 0 0;
  .map-container {
    max-width: 50%;
    @media (max-width: 1200px) {
      display: none;
    }
  }
  .trip-description-container {
    width: 100%;
  }
}
.trip-container {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0px;
  margin: 20px auto 20px auto;
  width: 900px;
  z-index: 1000;
  .svg-inline--fa{
    color: grey;
  }
  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .trip-section-info {
    padding: 10px;
  }
  .trip-section-img {
    margin: -1px;
  }
  
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trip-section-buy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
  padding: 10px 5px 10px 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  button {
    width: 100%;
    display: table;
    margin: 0 auto;
  }
}
.price-container {
  display: flex;
  padding: 0px;
  margin-bottom: 5px;
  * {
    display: flex;
    align-items: flex-end;
  }
  .price-tag {
    margin-bottom: 0;
  }
  span {
    color: grey;
  }
}
.flight-box {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0px;
  margin: 20px auto 20px auto;
  max-width: 100%;
  img {
    width: 100%;
  }
  .flight-section-img {
    max-height: 100%;
  }
  .flight-section-info {
    max-width: 65%;
    padding: 10px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .flight-company-icon {
      border-radius: 50%;
      width: 15px;
    }
    .luggage-info {
      color: lightgray;
      .col {
        min-width: 85px;
      }
    }
  }
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
.center-row {
    justify-content: center;
    text-align: center;
    .col {
      flex-grow: 0;
    }
}
a {
  cursor:pointer;
}
.popular-destinations{
  padding: 50px;
}
.popular-destinations-slider {
  padding: 0px;
  img {
    max-width: 100%;
  }
  .slick-slide {
    padding: 10px;
  }
}